[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "FuzzySTs"]
	path = FuzzySTs
	url = https://github.com/cran/FuzzySTs
	shallow = true
	registered = true
